*{
  margin:0;
  padding:0;
}
body {
  background-color: rgb(205, 209, 168);
  margin: 0;
  background-size: cover;
}
.paper1,.paper2,.paper3,.paper{
  height:50vh;
  width:30vw;
  position: absolute;
  margin-top:10vh;
  margin-left: 10vw;
  border: 1px solid black;
}
.paper1{
  z-index:-1;
  background-color: rgb(236, 236, 236);
  position: absolute;
  transform: rotatez(2deg);
  box-shadow: 1px 1px 1px black,-1px 0px 1px black;
}
.paper2{
  z-index:-2;
  background-color: rgb(247, 240, 240);
  position: absolute;
  transform: rotatez(-4deg);
  box-shadow: 1px 1px 1px black,-1px 0px 1px black;
}
.paper3{
  z-index:-3;
  background-color: rgb(238, 238, 238);
  position: absolute;
  transform: rotatez(3deg);
  box-shadow: 1px 1px 1px black,-1px 0px 1px black;
}
.paper{
  z-index:1;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px black,-1px 0px 1px black;
}